In [2]:
# kunden erkunden
import pandas as pd
# dataframe erstellen
df = pd.read_csv("../data/kundenliste.csv")

In [10]:
# erstes anzeigen des DF
df

,KundenID,Name,Geburtsdatum,Adresse,EndeMitgliedschaft,Ausgeliehen
0,211,???,05-10-1997,"Sergei-Bärer-Allee 88/14, 52818 Königs Wusterh...",09.05.2028,"[('978-0-01-213170-1', None)]"
1,227,Beatrice Haering,19-03-2003,"Gotthardallee 2, 56354 Bad Mergentheim",24.11.2026,"[('978-0-215-71167-0', datetime.date(2025, 10,..."
2,93,Freia Schuchhardt,22-04-1939,NaN,30-04-2026,"[('978-1-207-22785-8', None), ('1-84348-614-8'..."
3,32,Viktor Kaul,17-02-1916,"Ehrentraud-Heydrich-Gasse 6016, 23460 Cottbus",06.10.2026,"[('978-0-8065-9424-8', datetime.date(2025, 10,..."
4,203,Melanie Mentzel,26-11-1919,"Rennerstr. 6-6, 03808 Aachen",10.01.2030,"[('978-0-7206-2940-8', datetime.date(2025, 10,..."
...,...,...,...,...,...,...
247,226,Wieland Dippel,11-08-1911,"Lehmannring 4437, 96158 Schwerin",24.11.2029,"[('978-1-297-29309-2', datetime.date(2025, 10,..."
248,156,Petros Mangold,12-04-1983,"Geiselstr. 5/3, 98935 Rottweil",07.01.2028,"[('978-1-279-07866-2', datetime.date(2025, 10,..."
249,125,Ingetraud Budig,28-06-1925,"Ditschlerinallee 1015, 90983 Biedenkopf",28.06.2030,"[('0-287-35381-8', datetime.date(2025, 10, 12)..."
250,26,Maximilian Lachmann,18-08-1909,"Mudestr. 782, 72422 Ueckermünde",14.06.2027,"[('978-1-09-328291-7', datetime.date(2025, 10,..."
251,65,NaN,19-03-1910,"Heiner-Gröttner-Allee 4/8, 86282 Uelzen",30-04-2026,"[('978-1-4958-5131-5', None), ('978-1-64544-25..."

In [16]:
# Entität genauer erfassen
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   KundenID            252 non-null    int64
 1   Name                248 non-null    object
 2   Geburtsdatum        240 non-null    object
 3   Adresse             247 non-null    object
 4   EndeMitgliedschaft  250 non-null    object
 5   Ausgeliehen         252 non-null    object
dtypes: int64(1), object(5)
memory usage: 11.9+ KB

In [17]:
# Nullwerte vorhanden?
## speichere Serie (spalte) in variable
s = df["KundenID"]
    
s.isnull().any()

np.False_

In [18]:
# Id unique?
s.nunique()

252

In [19]:
# zeige höchsten und niedrigsten Wert

print(s.max(),s.min())

252 1

In [20]:
# neue serie für den Namen
s = df["Name"]
s

0                      ???
1         Beatrice Haering
2        Freia Schuchhardt
3              Viktor Kaul
4          Melanie Mentzel
              ...
247         Wieland Dippel
248         Petros Mangold
249        Ingetraud Budig
250    Maximilian Lachmann
251                    NaN
Name: Name, Length: 252, dtype: object

In [21]:
# ANzhal von NaN
s.isnull().sum()

np.int64(4)

In [25]:
# Kurze Einträge filtern 
s[s.str.len() < 5]

0       ???
43      ???
80     Lena
109     ???
Name: Name, dtype: object

In [36]:
# etwas längere Einträge
s[s.str.len() < 12]
# Einträge ohne Leerzeichen
s[~s.str.contains(" ", na=False)]

0            ???
43           ???
74           NaN
76           NaN
80          Lena
109          ???
149          NaN
194    Madeleine
219     Eckehard
251          NaN
Name: Name, dtype: object

In [40]:
# längester Eintrag
s[s.str.len().idxmax()]

'Hans-Christian Gröttner'

In [42]:
# sonderzeichen
s[s.str.contains(r"[^a-zA-ZäöüßÄÖÜ\s-]", na=False)]

0                 ???
24     Hans-H. Dippel
43                ???
109               ???
Name: Name, dtype: object

In [43]:
# Geburtsdatum
s = df["Geburtsdatum"]

In [44]:
s.head()

0    05-10-1997
1    19-03-2003
2    22-04-1939
3    17-02-1916
4    26-11-1919
Name: Geburtsdatum, dtype: object

In [51]:
# Anzahl NaN Werte
s.isnull().sum()

np.int64(12)